.main-prices {
    background-color: #05050a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23151824' fill-opacity='0.4'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding-top: 2rem;
}

.main-text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.main-text-area p{
    font-weight: 500;
    font-size: larger;
   color:rgba(181, 113, 241, 0.973);
}
.main-text-area h1{
    font-size: 3rem;
}
.monthly-price-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(49, 45, 45);
    width: 20%;
    height: 11vh;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 600;
    font-size: larger;
    margin-top: 2rem;
}

.discount-offer{
    background-color: greenyellow;
    color: #070707;
    margin-left: 0.4rem;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.main-three-divs-monthly{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.main-three-divs-monthly-div1:hover{
    border: 3px solid rgb(45, 10, 82);
}
.main-three-divs-monthly-div1{
    width: 48%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 1.4rem;
    padding: 1rem;
    border: 3px solid rgb(59, 56, 60);
}

.main-three-divs-monthly-div1 ul{
    list-style: none ;
}
.main-three-divs-monthly-div1 ul li{
    padding: 0.4rem;
}
.main-three-divs-monthly-div1 h1{
    font-weight: 600;
}
.main-three-divs-monthly-div1 h1 span{
    font-size: large;
}
.started-price{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(49, 45, 45);
    width: 44%;
    height: 7vh;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 2rem;
}
.started-price:hover{
    border: 3px solid rgb(45, 10, 82);

}




@media screen and (max-width: 768px){
    .main-three-divs-monthly{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }
}

